@import 'tailwindcss';

:root {
    --color-primary: #0065F4;
    --color-background: #FAFAFA;
}

/* .dark {
 
}

@theme inline {

} */

@layer base {
    .font-bakh {
        font-family: yekanbakh;
    }

    .font-doran {
        font-family: Doran FaNum;
    }

    .bg-primary {
        background-color: var(--color-primary);
    }

    .text-primary {
        color: var(--color-primary);
    }

    .bg-secondary {
        background-color: var(--color-background);
    }

    h3 {
        font-family: Doran FaNum;
        font-size: 20px;
        font-weight: bold;
    }

    .animate-fadeIn {
        animation: fadeIn 500ms ease-in-out;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(6px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    nav .active {
        color: var(--color-primary);
    }

}