@import 'tailwindcss';

:root {
    --color-primary: #0065F4;
    --color-background: #FAFAFA;
}

/* .dark {
 
}

@theme inline {

} */

@layer base {
    .container-uni {
        @apply container mx-auto px-4 lg:px-2.5
    }

    .font-bakh {
        font-family: yekanbakh;
    }

    .font-doran {
        font-family: Doran FaNum;
    }

    .bg-primary {
        background-color: var(--color-primary);
    }

    .text-primary {
        color: var(--color-primary);
    }

    .bg-secondary {
        background-color: var(--color-background);
    }

    h3 {
        font-family: Doran FaNum;
        font-size: 20px;
        font-weight: bold;
    }

    .animate-fadeIn {
        animation: fadeIn 500ms ease-in-out;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(6px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    nav .active {
        color: var(--color-primary);
    }

    .swiper-button-next {
        top: 0 !important;
        left: 42px !important;
        position: absolute !important;
        z-index: 999 !important;
        border: 1px solid rgba(0, 0, 0, 0.15) !important;
        padding: 8px !important;
        background-color: white !important;
        border-radius: 8px !important;
        transition: all 200ms ease-in-out !important;
        cursor: pointer !important;

    }

    .swiper-button-prev {
        top: 0 !important;
        left: 0 !important;
        position: absolute !important;
        z-index: 999 !important;
        rotate: 180deg !important;
        border: 1px solid rgb(0, 0, 0, 0.15) !important;
        padding: 8px !important;
        background-color: white !important;
        border-radius: 8px !important;
        transition: all 200ms ease-in-out !important;
        cursor: pointer !important;
    }

    .swiper-button-prev:hover {
        border: 1px solid var(--color-primary) !important;
    }

    .swiper-button-next:hover {
        border: 1px solid var(--color-primary) !important;
    }

    .swiper-button-disabled {
        color: rgb(0, 0, 0, 0.3) !important;
        cursor: not-allowed !important;
    }

    .swiper-navigation-icon {
        width: 16px !important;
        height: 16px !important;
    }

    .swiper {
        position: initial !important;
        /* overflow-x: hidden; */
    }

    .swiper-wrapper {
        width: 100% 1260px;
        height: 100%;
        z-index: 1;
        display: flex;
    }

    .swiper-slide {
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        position: relative;
        transition-property: transform;
        display: block;
    }
}